*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    justify-content: center;
    text-align: center; /* Asegura que el texto también esté centrado*/
}

.boton {
    width: 120px; /* Ancho del botón */
    height: 55px; /* Alto del botón */ 
    margin: 25px; /* Margen alrededor del botón */
    font-size: large; /* Tamaño del texto */
    background-color: #e7e7e7; /* Color de fondo */
    color: #000000; /* Color del texto */
    border: 2px solid rgb(5, 0, 156); /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
    transition: transform 0.2s ease;
}

.boton:hover {
    background-color: #d7dcd9; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.1); /* Aumenta el tamaño del botón al 110% */
}

.boton:active {
    background-color: #FFFECB; /* Cambia el color de fondo al hacer clic */
    transform: translateY(2px); /* Mueve el botón ligeramente hacia abajo al hacer clic */
}

.estadosContenedor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    margin: 5px;
    width: auto;
    height: 50px;
    background-color: #4c4c4c;
    padding: 15px;
    border-radius: 5px;  
}

.estado {
    height: 20px;
    width: 200px; /* Ancho fijo */
    margin-left: 40px;
    background-color: #ddd; /* Color de fondo para simular el borde vacío */
    border: 2px solid rgb(255, 255, 255);
    position: relative; /* Para posicionar el relleno absolutamente dentro */
}

.relleno {
    height: 100%;
    background-color: #5cb8b5; /* Color del relleno */
    position: absolute;
    left: 0; /* Alinea el relleno a la derecha */
}

.foto {
    margin: 30px;
    width: 400px;
    height: auto;
}

p { 
    color:rgb(255, 255, 255);
}

.panelcentral {
    width: 1200px;
}

.panelDerecho {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    flex-direction: column;
    justify-content: center;
    background-color: #e7e7e7;
    border: 2px solid #575656;
    margin: 8px;
    margin-left: 60px;
    
    border-radius: 5px;  
    width: 450px;
    height: 750px;
}

.panelIzquierdo {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio */
    flex-direction: column;
    justify-content: center;
    background-color: #e7e7e7;
    border: 2px solid #4c4c4c;
    margin: 8px;
    margin-right: 60px;
    padding: 30px;
    border-radius: 5px;  
    width: 450px;
    height: 750px;
}

.panelDerecho p,.panelIzquierdo p{
    color: black;
}

#inventario {
    width: 100%;
    height: 100%;
}




